h1 {
  text-align: center;
  margin-bottom: 6%;
}

.container {
  width: 65%;
  height: auto;
  border: 1px solid black;
  margin: 0 auto;
}

.heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2.5%;
}

.container-heading {
  font-weight: 600;
}

.input-form {
  display: flex;
  justify-content: space-between;
  margin-inline: 2.5%;
}

.input-task {
  width: 95%;
}

.input-task::placeholder {
  font-style: italic;
}

.fa-reply {
  transform: scaleY(-1);
  cursor: pointer;
}

.submit-task {
  background-color: transparent;
  border: transparent;
}

.fa-sync-alt {
  cursor: pointer;
}

.clear-btn {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
}

#all-completed {
  width: 100%;
  height: 33px;
  font-weight: 300;
}

.eachTask {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 1%; */
}

hr {
  margin: 0;
}

.group-list {
  width: 99%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon {
  background: transparent;
  border: none;
}

.check-box:checked + .form-label {
  text-decoration: line-through;
}

.form-label {
  caret-color: black;
  border: none;
}

.form-label:focus { 
  border: none;
  outline: none; 
}

.fa-ellipsis-v {
  display: inline;
}

.fa-trash-alt {
  color: rgb(231, 18, 18);
}

.bin {
  display: none;
}